<!-- films/templates/films/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Film website</title>
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="/static/css/styles.css"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>  
    <h1 class="styled-title">Film website</h1>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="alert alert-primary text-center" role="alert">
                    Hope you have a great time watching films!
                </div>
            </div>
        </div>
    </div>

    <!-- <nav class="navbar">
        <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        <div class="dropdown ml-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="topicDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Topic
            </button>
            <div class="dropdown-menu p-3" aria-labelledby="topicDropdown">
                <form id="topicForm" method="GET" action="{% url 'home' %}">
                    {% for topic in topics %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="topics" value="{{ topic.id }}" id="topic{{ topic.id }}"
                            {% if topic.id in selected_topics %}checked{% endif %}>
                            <label class="form-check-label" for="topic{{ topic.id }}">
                                {{ topic.name }}
                            </label>
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary mt-2" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav> -->

    <main>
        <div class="container">
            <nav class="navbar bg-body-tertiary">
                <div class="container-fluid d-flex justify-content-start">
                  <a class="navbar-brand" href="{% url 'home' %}">Home</a>
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="genreDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                          Genre
                      </button>
                      <div class="dropdown-menu p-3" aria-labelledby="genreDropdown">
                          <form id="genreForm" method="GET" action="{% url 'home' %}">
                              {% for genre in genres %}
                                  <div class="form-check">
                                      <input class="form-check-input" type="checkbox" name="genres" value="{{ genre.id }}" id="genre{{ genre.id }}"
                                      {% if genre.id in selected_genres %}checked{% endif %}>
                                      <label class="form-check-label" for="genre{{ genre.id }}">
                                          {{ genre.name }}
                                      </label>
                                  </div>
                              {% endfor %}
                              <button class="btn btn-primary mt-2" type="submit">Search</button>
                          </form>
                      </div>
                  </div>
                  <div>
                    <form method="GET" action="{% url 'home' %}" class="custom-search-bar ml-auto mb-4">
                      <input type="text" id="searchBar" name="q" class="search-input" placeholder="Search for films..." value="{{ request.GET.q }}">
                      <button type="submit" class="btn btn-outline-primary">Search</button>
                    </form> 
                  </div>
                </div>
              </nav>
            {% block content %}
             <!-- Content specific to each page will go here -->
            {% endblock %}
        </div>
        
        <!-- {% block pagination %} -->
        <!-- Pagination block that can be overridden by child templates -->
        <!-- {% endblock %} -->
    </main> 
    <!--<img src="static/images/deptrai1.jpg" style="width: 200px; height: 200px;" alt="Responsive image">
    <img src="static/images/deptrai2.jpg" style="width: 200px; height: 200px;" alt="Responsive image">
    <img src="static/images/deptrai3.jpg" style="width: 200px; height: 200px;" alt="Responsive image">-->
 

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>


</html>