{% extends 'base.html' %}
{% load youtube_filters %}
{% load static %}

{% block content %}
    <div class="row justify-content-center">
        <div class="embed-responsive">
            <div>           
                {% if film.is_youtube %}
                <iframe class="embed-responsive-item" src="{{ film.youtube_url | youtube_embed }}" allowfullscreen></iframe>
                {% elif film.is_local %}
                <video class="embed-responsive-item" controls>
                    <source src="{{ film_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
                {% else %}
                <p>No video available for this film.</p>
                {% endif %}
            </div>    
            <div>
                <a href="{% url 'home' %}" class="btn btn-secondary">Back to List</a>   
            </div>
        </div>
    </div>

    <div class = "container">
        <h2>{{ film.title }}</h2>
        <p><strong>Genre:</strong>
            {% for genre in film.genres.all %}
                {{ genre.name }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </p>
    </div>

{% endblock %}

<!-- templates/film_detail.html -->


