{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class = "container">
    <ul>
      {% if films_count == 0 %}
      <div class="alert alert-info" role="alert">
        No films found!
      </div>
      {% endif %}
    </ul>


    <div class="content">
      <div class="row">
        {% for film in films %}
          <div class="col-md-3 mb-4">
              <div class="card">
                  <img src="{{ film.thumbnail.url }}" class="card-img-top" alt="{{ film.title }}">
                  <div class="card-body" style="margin-bottom: 20px; text-align: center;">
                      <h5 class="card-title">{{ film.title }}</h5>
                      <a href="{% url 'film_detail' film.id %}" class="btn btn-primary">Watch Now</a>
                  </div>
              </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="content">
      <div class=" container mb-3 d-flex justify-content-center">
        <nav aria-label="...">
          <ul class="pagination">
              {% if url_data.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">First</span>
                </li>
              {% endif %}
              
              {% for page_num in url_data.paginator.page_range %}
                {% if page_num == url_data.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link square-border">{{ page_num }}</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                    </li>
                {% endif %}
              {% endfor %}
    
              {% if url_data.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ url_data.paginator.num_pages }}">Last</a></li>
              {% else %}
                <li class="page-item disabled">
                  <span class="page-link">Last</span>
                </li>
              {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    <script src="{% static 'js/script.js' %}"></script>
  </div>
{% endblock %}
<!-- 
{% block pagination %}
  
{% endblock %} -->