.video-grid {
    list-style: none;
    

}

.video-grid li {
    margin-right: 0px; /* Adjust as needed */
    position: relative
}

#video0 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: -45px;
    left: 10px;
}

#video1 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 20px;
    left: 360px;
}

#video2 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 20px;
    left: 710px;
}

#video3 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 20px;
    left: 1060px;
}

#video4 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 280px;
    left: 10px;
}

#video5 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 280px;
    left: 360px;
}

#video6 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 280px;
    left: 710px;
}

#video7 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 280px;
    left: 1060px;
}


