.video-grid {
    list-style: none;
    

}

.video-grid li {
    margin-right: 0px; /* Adjust as needed */
    position: relative
}

#local0 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: -45px;
    left: 10px;
}

#local1 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: -45px;
    left: 360px;
}

#local2 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: -45px;
    left: 710px;
}

#local3 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: -45px;
    left: 1070px;
}

#local4 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: 235px;
    left: 10px;
}


#local5 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: 235px;
    left: 360px;
}

#local6 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: 235px;
    left: 710px;
}

#local7 video {
    width: 320px;
    height: 305px;
    position: absolute;
    top: 235px;
    left: 1070px;
}

#youtube0 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 20px;
    left: 10px;
}

#youtube1 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 20px;
    left: 360px;
}

#youtube2 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 20px;
    left: 710px;
}

#youtube3 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 20px;
    left: 1060px;
}

#youtube4 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 280px;
    left: 10px;
}

#youtube5 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 280px;
    left: 360px;
}

#youtube6 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 280px;
    left: 710px;
}

#youtube7 iframe {
    width: 320px;
    height: 240px;
    position: absolute;
    top: 280px;
    left: 1060px;
}


