.styled-title {
    font-size: 4em; /* Adjust size as needed */
    color: #3498db; /* Replace with your chosen color */
    text-align: center;
    margin: 0; /* Remove default margin */
    font-family: 'Roboto', sans-serif; /* Example font, make sure to include it */
}

.video-grid {
    list-style: none;
}

.video-grid li {
    margin-right: 20px; 
    position: relative
} 

.close-btn {
    position: absolute;
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    z-index: 1; /* Ensure button appears above video */
}

.video-container {
    text-align: center; /* Center the container horizontally */
    margin: 20px auto; /* Add vertical margin and center horizontally */
}

.embed-responsive {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    height: 0; /* Set height to 0, will be controlled by padding */
    margin-bottom: 20px; 
    text-align: center; 
    width: 500%;
}

.embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Custom size for the video */
.video-container .embed-responsive {
    max-width: 100%; /* Full width of the parent container */
    width: 80%; /* Adjust width as needed (e.g., 80% of parent container) */
    height: auto; /* Maintain aspect ratio */
}

.card-img-top {
    width: 100%; /* Full width of the card */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
    border-top-left-radius: calc(var(--bs-card-border-radius) - 1px); /* Optional: Round the top corners to match card */
    border-top-right-radius: calc(var(--bs-card-border-radius) - 1px); /* Optional: Round the top corners to match card */
}

.fixed-pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Ensures the background is solid */
    z-index: 1000; /* Ensures it stays on top of other content */
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.fixed-pagination .container {
    display: flex;
    justify-content: center;
}


.search-input {
    flex-grow: 1;
    /* width: 10px; */
    padding: 10px;
    border: 2px solid #007bff; /* Primary border color */
    border-radius: 5px;
    font-size: 1rem;
}

.custom-search-bar {
    display: flex;
    margin-left: 640px !important;
    margin-top: 10px;
    width: 50%;
}